In [1]:
##import required packages and models 
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
#import dataset 
dataset = pd.read_csv('C:\\Users\\UCiK\\OneDrive\\Desktop\\ds course\\datasets\\Churn_Modelling.csv')

In [3]:
#first 5 rows of dataset
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#split the data into input and outputs
x= dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [5]:

#convert gender catagorical variable into numarical format
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['Gender']=le.fit_transform(x['Gender'])

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

In [7]:
#get dummyvariables in x dataset 
x=pd.get_dummies(x)

In [8]:
#scale the data (normalization)

from sklearn.preprocessing import MinMaxScaler
nr = MinMaxScaler()
x_norm=nr.fit_transform(x)
x_norm

array([[0.538     , 0.        , 0.32432432, ..., 1.        , 0.        ,
        0.        ],
       [0.516     , 0.        , 0.31081081, ..., 0.        , 0.        ,
        1.        ],
       [0.304     , 0.        , 0.32432432, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.718     , 0.        , 0.24324324, ..., 1.        , 0.        ,
        0.        ],
       [0.844     , 1.        , 0.32432432, ..., 0.        , 1.        ,
        0.        ],
       [0.884     , 0.        , 0.13513514, ..., 1.        , 0.        ,
        0.        ]])

In [9]:
#column names stored in the names 
names= x.columns
names

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [10]:
#normalized data of x stored in x_n with add the column names 
x_n=pd.DataFrame(x_norm , columns=names )

In [11]:
x_n

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0.0,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1.0,0.0,0.0
1,0.516,0.0,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0.0,0.0,1.0
2,0.304,0.0,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1.0,0.0,0.0
3,0.698,0.0,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,1.0,0.0,0.0
4,1.000,0.0,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,1.0,0.283784,0.5,0.000000,0.333333,1.0,0.0,0.481341,1.0,0.0,0.0
9996,0.332,1.0,0.229730,1.0,0.228657,0.000000,1.0,1.0,0.508490,1.0,0.0,0.0
9997,0.718,0.0,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390,1.0,0.0,0.0
9998,0.844,1.0,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,0.0,1.0,0.0
9999,0.884,0.0,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914,1.0,0.0,0.0

In [12]:
#split the data into training and the testing 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_n , y , train_size= .75 , random_state=0)

In [13]:
#model creating 

#logistic
from sklearn.linear_model import LogisticRegression 
cl = LogisticRegression()
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('LogisticRegression: ', score)

#################################################################################################################################
##support vector machine 

from sklearn.svm import SVC
cl = SVC(kernel = 'linear')
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('SVC linear: ', score)



from sklearn.svm import SVC
cl = SVC(kernel = 'sigmoid')
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('SVC sigmoid: ', score)

#################################################################################################################################

#Decision tree

from sklearn.tree import DecisionTreeClassifier
cl = DecisionTreeClassifier(criterion= 'entropy')
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('DecisionTreeClassifier: ', score)

#################################################################################################################################

##randomforestclassifier with 10 estimaters 

from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier(n_estimators=10 , criterion= 'entropy')
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('RandomForestClassifier n=10: ', score)

#################################################################################################################################

###randomforestclassifier with 150 estimaters 

from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier(n_estimators=150 , criterion= 'entropy')
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('RandomForestClassifier , n=150: ', score)


#################################################################################################################################

#gradientdecentboostingclassifier
from sklearn.ensemble import GradientBoostingClassifier
cl = GradientBoostingClassifier()
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('GradientBoostingClassifier: ', score)


#################################################################################################################################
 #naviebayesclassifier
    
from sklearn.naive_bayes import GaussianNB
cl = GaussianNB()
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('GaussianNB: ', score)

LogisticRegression:  0.81
SVC linear:  0.7964
SVC sigmoid:  0.7024
DecisionTreeClassifier:  0.7916
RandomForestClassifier n=10:  0.8584
RandomForestClassifier , n=150:  0.8664
GradientBoostingClassifier:  0.8676
GaussianNB:  0.8096

In [14]:
#copy the x data into the data 
data=x_n.copy()

# aplying pca

In [15]:
from sklearn.decomposition import PCA
pca = PCA(n_components=8)
pca_val = pca.fit_transform(data)

In [16]:
test =pd.DataFrame(pca_val)
test

,0,1,2,3,4,5,6,7
0,-0.637724,-0.012506,-0.085204,0.712063,-0.345593,-0.246067,-0.144627,-0.091295
1,0.585388,0.604529,0.364377,0.839389,0.611058,-0.301969,-0.235066,0.176733
2,-0.555742,-0.579034,0.505287,0.106140,-0.280824,0.286052,0.071759,0.084741
3,-0.624225,-0.433506,0.586975,0.222198,0.713545,-0.351138,-0.142142,-0.296366
4,0.602022,0.531431,0.324530,0.755134,-0.382411,-0.315098,-0.064169,0.327536
...,...,...,...,...,...,...,...,...
9995,-0.644627,-0.062478,0.170677,-0.675234,-0.240005,-0.019347,0.008632,-0.285712
9996,-0.628832,0.377156,-0.506866,-0.125837,-0.308087,0.439678,0.223363,0.109974
9997,-0.633954,0.044009,-0.064480,0.780053,0.635157,0.063477,0.377721,-0.083667
9998,0.639352,-0.551831,-0.273517,-0.732354,-0.202773,-0.205518,-0.065604,-0.287247
9999,-0.567367,-0.560669,0.504401,0.112134,-0.275515,-0.262586,0.212750,0.330568

In [17]:
var=pca.explained_variance_ratio_

In [20]:
var1=np.cumsum(np.round(var,decimals=2)*100)

In [21]:
var1

array([23., 39., 54., 69., 82., 87., 92., 96.])

In [22]:
pricdata=pd.DataFrame(data= pca_val , columns= ['ps1','ps2','ps3','ps4','ps5','ps6','ps7','ps8'])

In [24]:
pricdata

,ps1,ps2,ps3,ps4,ps5,ps6,ps7,ps8
0,-0.637724,-0.012506,-0.085204,0.712063,-0.345593,-0.246067,-0.144627,-0.091295
1,0.585388,0.604529,0.364377,0.839389,0.611058,-0.301969,-0.235066,0.176733
2,-0.555742,-0.579034,0.505287,0.106140,-0.280824,0.286052,0.071759,0.084741
3,-0.624225,-0.433506,0.586975,0.222198,0.713545,-0.351138,-0.142142,-0.296366
4,0.602022,0.531431,0.324530,0.755134,-0.382411,-0.315098,-0.064169,0.327536
...,...,...,...,...,...,...,...,...
9995,-0.644627,-0.062478,0.170677,-0.675234,-0.240005,-0.019347,0.008632,-0.285712
9996,-0.628832,0.377156,-0.506866,-0.125837,-0.308087,0.439678,0.223363,0.109974
9997,-0.633954,0.044009,-0.064480,0.780053,0.635157,0.063477,0.377721,-0.083667
9998,0.639352,-0.551831,-0.273517,-0.732354,-0.202773,-0.205518,-0.065604,-0.287247
9999,-0.567367,-0.560669,0.504401,0.112134,-0.275515,-0.262586,0.212750,0.330568

In [26]:
from sklearn.model_selection import train_test_split
x_train1,x_test1,y_train1,y_test1=train_test_split(pricdata , y , train_size= .75 , random_state=0)

In [27]:
from sklearn.linear_model import LogisticRegression 
cl = LogisticRegression()
cl.fit(x_train1,y_train1)
y_pred1= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score1=accuracy_score(y_test1,y_pred1)
print('LogisticRegression:',score1) 


##############################################################################################################################



from sklearn.svm import SVC
cl = SVC(kernel = 'linear')
cl.fit(x_train1,y_train1)
y_pred2= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score2 = accuracy_score(y_test1,y_pred2)
print("svc :", score2)

################################################################################################################################

from sklearn.tree import DecisionTreeClassifier
cl = DecisionTreeClassifier(criterion= 'entropy')
cl.fit(x_train1,y_train1)
y_pred3= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score3 = accuracy_score(y_test1,y_pred3)
print("decissiontree;" ,score3)



from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier(n_estimators=10 , criterion= 'entropy')
cl.fit(x_train1,y_train1)
y_pred4= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score4 = accuracy_score(y_test1,y_pred4)
print('RandomForestClassifier n = 10:',score4)

from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier(n_estimators=150 , criterion= 'entropy')
cl.fit(x_train1,y_train1)
y_pred5= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score5 = accuracy_score(y_test1,y_pred5)
print('RandomForestClassifier n = 150:' ,score5)

#############################################################################################################################

from sklearn.ensemble import GradientBoostingClassifier
cl = GradientBoostingClassifier()
cl.fit(x_train1,y_train1)
y_pred6= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score6 = accuracy_score(y_test1,y_pred6)
print('GradientBoostingClassifier  :' ,score6)

##############################################################################################################################

from sklearn.naive_bayes import GaussianNB
cl = GaussianNB()
cl.fit(x_train1,y_train1)
y_pred7= cl.predict(x_test1)

from sklearn.metrics import accuracy_score
score7 = accuracy_score(y_test1,y_pred7)
print('GaussianNB :' , score7)

LogisticRegression: 0.7924
svc : 0.7964
decissiontree; 0.7536
RandomForestClassifier n = 10: 0.8104
RandomForestClassifier n = 150: 0.8152
GradientBoostingClassifier  : 0.8112
GaussianNB : 0.7948

# considering importance veriables taken from randomforest

In [28]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_n , y , train_size= .75 , random_state=0)

from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier(n_estimators=150 , criterion= 'entropy')
cl.fit(x_train,y_train)
y_pred= cl.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print('RandomForestClassifier , n=150: ', score)

cl.feature_importances_
imp = pd.Series(cl.feature_importances_)
imp

RandomForestClassifier , n=150:  0.8676

0     0.148658
1     0.021359
2     0.227473
3     0.087864
4     0.146276
5     0.123027
6     0.019770
7     0.032169
8     0.152296
9     0.011994
10    0.019758
11    0.009356
dtype: float64

In [29]:
#consider 0,2,3,4,5,8 columns

x_imp = x.iloc[:,[0,2,3,4,5,8]]

In [30]:
x_imp

      CreditScore  Age  Tenure    Balance  NumOfProducts  EstimatedSalary
0             619   42       2       0.00              1        101348.88
1             608   41       1   83807.86              1        112542.58
2             502   42       8  159660.80              3        113931.57
3             699   39       1       0.00              2         93826.63
4             850   43       2  125510.82              1         79084.10
...           ...  ...     ...        ...            ...              ...
9995          771   39       5       0.00              2         96270.64
9996          516   35      10   57369.61              1        101699.77
9997          709   36       7       0.00              1         42085.58
9998          772   42       3   75075.31              2         92888.52
9999          792   28       4  130142.79              1         38190.78

[10000 rows x 6 columns]

In [32]:
from sklearn.model_selection import train_test_split
x_train2,x_test2,y_train2,y_test2=train_test_split(x_imp , y , train_size= .75 , random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression 
cl = LogisticRegression()
cl.fit(x_train2,y_train2)
y_pred1= cl.predict(x_test2)

from sklearn.metrics import accuracy_score
score1 = accuracy_score(y_test2,y_pred2)
print('LogisticRegression:',score1) 


##############################################################################################################################



from sklearn.svm import SVC
cl1 = SVC(kernel = 'linear')
cl1.fit(x_train2,y_train2)
y_pred2= cl1.predict(x_test2)

from sklearn.metrics import accuracy_score
score2 = accuracy_score(y_test2,y_pred2)
print("svc :", score2)

################################################################################################################################

from sklearn.tree import DecisionTreeClassifier
cl2 = DecisionTreeClassifier(criterion= 'entropy')
cl2.fit(x_train2,y_train2)
y_pred3= cl2.predict(x_test2)

from sklearn.metrics import accuracy_score
score3 = accuracy_score(y_test2,y_pred3)
print("decissiontree;" ,score3)



from sklearn.ensemble import RandomForestClassifier
cl3 = RandomForestClassifier(n_estimators=10 , criterion= 'entropy')
cl3.fit(x_train2,y_train2)
y_pred4= cl3.predict(x_test2)

from sklearn.metrics import accuracy_score
score4 = accuracy_score(y_test2,y_pred4)
print('RandomForestClassifier n = 10:',score4)

from sklearn.ensemble import RandomForestClassifier
cl4 = RandomForestClassifier(n_estimators=150 , criterion= 'entropy')
cl4.fit(x_train2,y_train2)
y_pred5= cl4.predict(x_test2)

from sklearn.metrics import accuracy_score
score5 = accuracy_score(y_test2,y_pred5)
print('RandomForestClassifier n = 150:' ,score5)

#############################################################################################################################

from sklearn.ensemble import GradientBoostingClassifier
cl5 = GradientBoostingClassifier()
cl5.fit(x_train2,y_train2)
y_pred6= cl5.predict(x_test2)

from sklearn.metrics import accuracy_score
score6 = accuracy_score(y_test2,y_pred6)
print('GradientBoostingClassifier  :' ,score6)

##############################################################################################################################

from sklearn.naive_bayes import GaussianNB
cl6 = GaussianNB()
cl6.fit(x_train2,y_train2)
y_pred7= cl6.predict(x_test2)

from sklearn.metrics import accuracy_score
score7 = accuracy_score(y_test2,y_pred7)
print('GaussianNB :' , score7)